upstream homer {
    server localhost:8080;
}

server {
    {% include "components/internal.j2" %}

    {% include "components/params.j2" %}

    server_name homer.box;

    location / {
        {% include "components/cors.j2" %}
        proxy_pass http://homer;
    }
}