server {
    {% include "nginx/internal.j2" %}

    {% include "nginx/params.j2" %}

    server_name firefly.local;

    location / {
        {% include "nginx/cors.j2" %}
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app firefly;
        set $upstream_port 1001;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}