upstream home {
    server localhost:2436;
}

server {
    {% include "components/internal.j2" %}

    {% include "components/params.j2" %}

    server_name home.box;

    location / {
        {% include "components/cors.j2" %}
        proxy_pass http://home;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
    }
}