upstream prowlarr {
    server localhost:9696;
}

server {
    {% include "components/internal.j2" %}

    {% include "components/params.j2" %}

    server_name prowlarr.box;

    location / {
        {% include "components/cors.j2" %}
        proxy_pass http://prowlarr;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;
    }
}