upstream uptimekuma {
    server localhost:3001;
}

server {
    {% include "components/internal.j2" %}

    server_name uptimekuma.box;

    location / {
        proxy_pass http://uptimekuma;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
    }
}