upstream wakapi {
    server localhost:3000;
}

server {
    {% include "components/internal.j2" %}

    {% include "components/params.j2" %}

    server_name wakapi.box;

    location / {
        {% include "components/cors.j2" %}
        proxy_pass http://wakapi;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_hide_header Upgrade;
    }
}